.navigation{
    width:100vmax;
    display: flex;
    flex-direction: row-reverse;
    padding:20px 0;
}
.navigation > .nav-item{
    margin-right: 5vmin;
}
.navigation > .nav-item > nav-link{
    user-select:none;
    text-decoration: none;
    font-size:1.2rem;
    color:inherit;
}
.user-image-small{
    width:50px;
    height:50px;
}