
.draggable {
    position:relative;
    width: 100px;
    height: 100px;

    margin: 20%;
    transition:all 2s linear;

    /*filter:drop-shadow(1px 1px 3px black);*/
    transform-style: preserve-3d;
    /*transform-origin:right bottom 100px;*/
    transform: rotateY(-100deg);
}
/*.draggable:hover{*/
/*    transform:rotateY(-100deg) translateZ(-200px);*/
/*}*/
.draggable .front{
    background: url("../images/cards/7-CLUBS.png") no-repeat;
    background-size: contain;
    position:absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}

.draggable .back{
    background:url("../images/cards/card-back.png") no-repeat;
    background-size: contain;
    position:absolute;
    width:100%;
    height:100%;

    /*backface-visibility: hidden;*/
}