.belot-card {
    position: absolute;
    width: 72px;
    height: 100px;
    /*box-shadow:1px 1px 3px black;*/
    transform-style: preserve-3d;
    /*transition: all 1s linear;*/
    display:inline-block;
}
.belot-card > .card-back {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    /*background: url("../images/cards/card-back.png") no-repeat;*/
    background-size: contain;
}

.belot-card > .card-front {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: contain;

    backface-visibility: hidden;
}