html{
    background:rgba(0,0,0,.5);
}
#gameField{
    width:95%;
    height:95vh;
    margin:10px auto;
    border:1px solid #CCC;
    box-shadow:1px 1px 3px #DEDEDE;
    background:rgba(0,0,0,.3);
    perspective: 4000px;
    transform-origin: bottom center;
}

.drag-to-confirm{
    position:absolute;
    width:500px;
    height:100px;
    display:none;
    box-shadow:3px 3px 18px #1A237E;
    z-index:-999;
}
