button.default{
    user-select: none;
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
    transition: all 0.25s ease-in-out;
    margin: 0.375rem;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: inherit;
}
button.default:hover, button.default:active, button.default:focus {
    outline: 0;
}
button.button {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}
button.button:hover, button.button:active, button.button:focus{
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.28), 0 6px 15px 0 rgba(0, 0, 0, 0.25);
}
button.text{

    padding:0!important;
    color:#6200EE;
    transition:all .7s;
    background:transparent!important;;
}
button.text:hover{
    text-shadow: 0 2px 6px rgba(0,0,0,0.18), 0 2px 3px rgba(0,0,0,0.18);
}
