input[type=text], input[type=password], input[type=email] {
    padding:20px 0 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border:none;
    border-bottom: 3px solid rgba(0,0,0,.12);
    outline:none;
    background:transparent;
    transition:border-bottom-color .6s cubic-bezier(.25,.8,.25,1);
    transform-origin: 50%;
    font-family: "Lato", serif;
    font-size: 1.15rem;
    width:100%;
}

input:-webkit-autofill, input:-webkit-autofill:focus  {
    background: transparent !important;
    -webkit-box-shadow: 0 0 0 50px #00000099 inset!important;
}
input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
    border-bottom: 3px solid rgba(0,0,0,.30);
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border-bottom:3px solid transparent//#6200EA;//this is the default color, it will be overriden in the component
}

.input-group{

    position:relative;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin:20px 0!important;
    background:#00000010;
}
.input-group:hover{
    background:#00000016;
}

.input-group.focused{
    background:#00000023;
}
.input-group > label.floating-label{
    position:absolute;
    user-select: none;
    /*text-shadow: -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666, 1px 1px 0 #666; TODO: if another background*/
    top:18px;
    font-size:1.15rem;
    font-family: "Playfair Display", serif;
    color:rgba(0,0,0,.77);
    cursor: text;
    transition:top .3s ease-in-out, font-size .3s ease-in-out, color .1s ease-in-out;
}
.input-group > label.floating-label.focused{
    text-shadow: none;
    font-size:.85rem;

    font-style: italic;
    font-weight: bold;
    top:4px;
}
.input-group > label.text-under{
    position: absolute;
    top:50px;
    left:9px;
    font-weight: lighter;
    font-size:1.2rem;
}
.input-group > .floating-label.colored{
    color:#6200EA;
}
::-webkit-input-placeholder { /* Edge */
    color:rgba(0,0,0,.45);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:rgba(0,0,0,.45);
}

::placeholder {
    color:rgba(0,0,0,.45);
}
.input-group > svg{
    position:absolute;
    left:5px;
    top:40%;
}