.modal-hidden {
    visibility: hidden;
}

.modal-shown {
    visibility: visible;
}
.modal-shown .modal-body{
    top:0;
}
.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}
.modal-body{
    position:absolute;
    top:100vw;
    left:0;
    right:0;
    transition:all .6s ease;
    border-radius:10px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    box-shadow: 1px 1px 3px white, -1px -1px 3px white;
    width: 80%;
}
.modal-header{
    padding:10px 0;
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
    background:#1A237E;
    text-align: center;
    color:white;
}